.search-view__wrapper {
  padding: 30px 10%;
  display: flex;
  height: calc(100% - 120px);
  overflow: auto;
  flex-flow: column;

  .type-filter__wrapper {
    margin-left: auto;

    .input-label {
      margin-right: 10px;
      font-size: 1.2rem;
    }

    .type-filter {
      border-color: #2064bc;
      border-radius: 5px;
      height: 40px;
      font-size: 1.2rem;
      padding: 5px;
      text-transform: capitalize;

      .type-filter__opt {

        text-transform: capitalize;
        padding: 10px 0;
      }
    }


  }
}

