@import "../../../assets/css/breakpoints";
.page-wrapper {
  height: 100%;
  .pokemon-info__wrapper {
    .pokemon-name {
      text-transform: capitalize;
    }

    margin: 0 10px;
    padding: 10px;
    background: white;
  }
}

@media (min-width: $tablet-breakpoint) {
  .page-wrapper {
    .pokemon-info__wrapper {
      margin: 0 10%;
    }
  }
}
