@import "../../../assets/css/breakpoints";

.search-list__content {
  .search-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .search-list__item {
      padding: 0;
      margin: 0 0 20px 0;

      .pokemon-name {
        text-transform: capitalize;
        text-decoration: underline;
        color: #2064bc;

        &:hover {
          cursor: pointer;
        }
      }

      .search-list__item-content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;

        .pokemon-avatar {
          min-width: 100px;
          max-width: 100px;
        }

        .pokedex-data__wrapper {
          margin-left: 0;
          width: 100%;
          .block-title {

          }
        }
      }
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .search-list__content {
    .search-list {
      .search-list__item {
        .search-list__item-content {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-flow: row;
          .pokemon-avatar {

          }

          .pokedex-data__wrapper {
            margin-left: 5%;
            width: 30%;
            .block-title {

            }
          }
        }
      }
    }
  }
}
