<div class="search-list__content">
  <ul class="search-list">
    <li class="search-list__item" *ngFor="let pokemonInfo of pokemonSearchList">
      <h1 class="pokemon-name"></h1>
      <img src="" class="pokemon-avatar">
      <div class="pokedex-data__wrapper">
        <h2 class="block-title">Pokedex data</h2>
        <app-pokedex-data [pokemonInfo]="pokemonInfo"></app-pokedex-data>
      </div>
      <div class="pokedex-data__wrapper">
        <h2 class="block-title">Base stats</h2>
        <app-base-stats [pokemonStats]="pokemonInfo.stats"></app-base-stats>
      </div>
    </li>
  </ul>
</div>
