<div class="search-list__content">
  <ul class="search-list">
    <li class="search-list__item" *ngFor="let pokemonInfo of pokemonSearchList">
      <h1 class="pokemon-name" (click)="goToPokemonDetails(pokemonInfo.id)">{{pokemonInfo.name}}</h1>
      <div class="search-list__item-content">
        <img src="{{pokemonInfo.sprites.front_default}}" class="pokemon-avatar">
        <div class="pokedex-data__wrapper">

          <app-pokedex-data [pokemonInfo]="pokemonInfo"></app-pokedex-data>
        </div>
        <div class="pokedex-data__wrapper">
          <app-base-stats [pokemonStats]="pokemonInfo.stats"></app-base-stats>
        </div>
      </div>
    </li>
  </ul>
</div>
